## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=10
print(a)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
x='rosa gomez'
print(x)

rosa gomez

5) Crear una variable que contenga un número complejo

In [45]:
n_complejo = 8 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [46]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [47]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [48]:
a = 'True'
b = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [49]:
print('La variable 1 es de tipo ', type(a), ' y la variable 2 es de tipo ', type(b))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [50]:
a = 8 + 5.3

11) Realizar una operación de suma de números complejos

In [51]:
a = 5 + 10j
b = 8 + 5j
print (a+b)

(13+15j)

12) Realizar una operación de suma de un número real y otro complejo

In [52]:
a = b + 3.15
print (a)

(11.15+5j)

13) Realizar una operación de multiplicación

In [53]:
print (3*5)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [54]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [55]:
a = 27/4
print (a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [56]:
print (27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [57]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [58]:
6*4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [59]:
a = 'hola '
b = 'mundo'
print(a+b)

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [60]:
5 == '5'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [61]:
5 == int('5')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [10]:
a = float ('3,8')+3
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
a = 3
a -= 1
print (a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<< 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
a = 'valor repetido, '
b = 3
print (a * b + str(b) + ' veces')

valor repetido, valor repetido, valor repetido, 3 veces